h1 {
    color: black;
    font-size: 250%;
}

div {
    max-width: 640px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, li, footer {
    text-align: center;
    font-family: "Josefin Slab", serif;
}

li {
    list-style: none;
    width: 25%;
    float: left;
}

ul {
    padding: 0;
}

    ul:after {
        content: "";
        display: block;
        clear: both;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: middle;
}

    th img {
        width: 120px;
    }

td {
    vertical-align: middle;
    white-space: nowrap;
}

    td.item {
        padding-left: 10px;
        padding-right: 40px;
        text-align: left;
    }

.price {
    text-align: right;
}

li a {
    color: #000;
}

    li a:hover {
        text-decoration: none;
    }

header {
    border-top: solid 10px #000;
    background-color: lightblue;
}

@media (max-width: 768px) {
    li {
        width: 50%;
    }

    th img {
        width: 80px;
    }
}

#currentTime {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

